




#inputs {
    position: relative;
    top: 300px;
}

.background {
    opacity: .5;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.display-4,
.lead,
h3,
.dropdown {
    text-align: center;
}

.display-4 {
    font-weight: bold;
}

.lead {
    font-weight: bold;
}



/* ************** */
/* CSS added for animations */

body {
    overflow-x: hidden;
}


.main-content {
    opacity: 0;
}
svg {
    position: absolute;
    top: 10%;
    left: 10%;
}
.snowflake {
    fill: #29ABE2;
}
.opening-header {
    position: absolute;
    top: 15%;
    left: 28%;
    font-size: 4em;
    color: #29ABE2;
    font-family: 'Monoton', cursive;
}
@media screen and (max-width: 1130px) {
    .opening-header {
        position: absolute;
        top: 40%;
        left: 10%;
    }
}

/* ************** */
/* CSS for scrollable menu */

.scrollable-menu {
    height: 350px;
    overflow-y: scroll;
}

.dropdown-item:hover {
    background-color: black;
}

.card-holder {
    width: 12rem;
}

h5 {
    font-size: 1em;
}

.card p {
    font-size: .75em;
}

.card-text {
    margin-bottom: 0;
}

.card-body {
    padding: 10px;
}

#units {
    float: right;
}


